*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background:linear-gradient(to left , rgb(231, 156, 156),rgb(67, 117, 67));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}
.calculator{
    background: rgba(0,0,0,0.5);
    font-size:xx-large;
    gap: 5px;
    align-content: center;
    border-radius:.5rem;
    box-shadow: 0px 7px 15px 2px #000;
}
input{
    font-size: xx-large;
    text-align:right;
    box-shadow:inset 0px 0px 5px 2.5px rgba(51, 48, 48, 0.5);
    margin:40px 0px 0px 45px;
    padding:4px;
    padding-right: 10px;
    width:22.3vw;
    height: 6vw;
    border-radius: .4rem;
    font-weight:600;
}

.container{
    display:grid;
    row-gap: 2px;
    column-gap: 2px;
    grid-template-columns: 80px 80px 80px 80px;
    align-items: center;
    padding:3rem;
}
.container button{
    /* cursor:pointer; */
    border-radius: 5px;
    border:none;
    text-align: center;
    height: 40px;
    font-weight:700;
    font-size: large;
    background:#2c2b2b;
    backdrop-filter: blur(10px);
    color: #fff;
}
.container button:hover{
    background:#202020;
}

.container .operator{
    color:rgb(39, 125, 190);
}

.container #equaltobtn{
    color:#000;
    background:rgb(39, 125, 190);
    backdrop-filter: blur(10px);
}
.container #equaltobtn:hover{
    background:rgb(48, 155, 236);
}
